<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619429583357-rt5kbi3eku5ks0sgcut39v7edgjvrb5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619429583357-rt5kbi3eku5ks0sgcut39v7edgjvrb5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBUmaDPCiuxF7imCHIT0pmwIRIKb9d5_MY</string>
	<key>GCM_SENDER_ID</key>
	<string>619429583357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.guisantos.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-8c0ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-8c0ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619429583357:ios:09064d40d8f2cfe287e194</string>
</dict>
</plist>